/* ===BASE STYLE=== */
* {
  box-sizing: border-box;
  font-family: "Merriweather";
  margin: 0;
  width: 100%;
}

h1 {
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 20px 20px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: black;
  font-size: 1.3rem;
}

p {
  color: grey;
  font-size: 1rem;
}

h2,
p {
  text-align: center;
  padding: 5px;
}

form {
  border: hidden;
}
/* ===FLEXBOX STYLE===*/
.desktop-form {
  width: 99%;
  max-width: 800px;
  margin: 0 auto;
}

.personal,
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.personal {
  flex-direction: column;
}

.flexbox {
  flex-direction: row;
}

/* Header */
.header {
  background-size: cover;
  background-color: #3b5998;
  padding: 10px;
}
/* Form */
.about {
  border-bottom: 10px grey double;
  text-align: center;
  margin: 15px 5px;
  padding: 30px 10px;
}

.personal,
.subscription {
  border: hidden;
  margin: 20px 5px;
  padding-bottom: 30px;
}

.personal {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  border-bottom: 3px #dd2a7b dotted;
}

.subtitles {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 40px;
}

label {
  color: rgb(15, 15, 15);
  padding: 20px 0;
}

.flexbox label:first-child {
  width: 100%;
}

input::placeholder {
  color: red;
  font-size: 1em;
  font-style: italic;
  text-align: right;
  padding-right: 30px;
}

input,
select,
textarea {
  background-color: #f8f8ff;
  border: 3px solid;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  background-color: #030303;
  color: white;
  transition: ease-in all 2s;
}

textarea:valid,
input:valid {
  background-color: powderblue;
}

textarea {
  border-color: #feda77;
  width: 100%;
  height: 150px;
  margin-top: 20px;
}

input[id="zip"] {
  border-color: #8134af;
}

input[id="name"],
select[id="county"] {
  border-color: #515bd4;
}

input[id="mail"] {
  border-color: #8134af;
}

input[id="tel"] {
  border-color: #dd2a7b;
}

input[id="street"] {
  border-color: #feda77;
}

input[id="city"] {
  border-color: #f58529;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  max-width: 10%;
  max-height: 10%;
}

.checkbox-label,
.radio-label {
  width: 90%;
  padding-left: 20px;
  font-size: 1rem;
}

button {
  background-color: #f58529;
  border-style: none;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: bold;
  margin: 25px auto;
  display: block;
  width: 90%;
  padding: 20px 0;
}
/* Footer */
.footer {
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.copyright {
  color: grey;
  display: block;
  font-style: italic;
  text-align: center;
}

/* CLEARFIX */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ===MEDIA QUERY=== */

@media screen and (min-width: 768px) {
  .desktop-form {
    max-width: 60%;
    margin: 0 auto;
  }

  .personal {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
  }

  .forceflex,
  .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row1 {
    width: 30%;
  }

  .row2 {
    background-color: #f8f8ff;
    border: 3px solid;
    border-radius: 5px;
    box-sizing: border-box;
    width: 70%;
    height: 50px;
    font-size: 1rem;
    margin-right: auto;
  }

  label:first-child {
    width: 30%;
  }
}
